.Arrow{
    border-style:solid;
    border-color: #159682;
    border-width: 3px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
}

.Arrow input
{
    width: 100%;
    height: 100%;
}

.Arrow:hover
{
    border-color: #DF2121;
}