.center
{
    width: 99%;
    height: 910px;
    text-align: center;
    margin: 0 auto;
    background: #FFF;
    border-radius: 13px;
    position: absolute; /* postulat de départ */
    margin-left: 10px;
    margin-top: 80px;
}

.rightside
{
    float: right;
    width: 450px;
}

.border
{
    border: solid 15px #999;
}

.score
{
    float: right;
}

#container { 
    width: 1000px; 
    height: 600px; 
    float: left; 
}

section { 
    width: 130px; 
    height: 520px; 
    float: left;
}

section > div { 
    width: 100px; 
    height: 20px; 
    border: 1px solid #000; 
    margin: 10px 0; 
    background: #159682; 
    color: #FFF; 
    padding: 10px 10px 10px 20px;
}

section > div:hover
{ 
    width: 100px; 
    height: 20px; 
    border: 1px solid #000; 
    margin: 10px 0; 
    background: #159682; 
    color: #FFF;
    text-shadow: 0 0 8px #DF2121;
    padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) { 
    margin-bottom: 20px;
}

.connecter { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.line { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.connecter div { 
    border: 1px solid #000; 
    border-left: none; 
    height: 50px; 
    width: 100%; 
    margin: 62px 0 0 1px;
}

.connecter div:first-child { 
    margin: 32px 0 0 1px; 
}

.line div { 
    border-top: 1px solid #000; 
    margin: 113px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 56px; 
}

#roundof16 > div { 
    margin-top: 72px; 
}

#roundof16 > div:first-child { 
    margin-top: 37px; 
}

#quarterFinals > div { 
    margin-top: 91px; 
}

#conn1 div:first-child { 
    margin-top: 56px; 
}

#conn1 div { 
    margin-top: 113px; 
    height: 113px;
}

#line1 div { 
    margin-top: 225px; 
}

#line1 div:first-child { 
    margin-top: 118px; 
}

#quarterFinals > div:first-child { 
    margin-top: 98px; 
}

#quarterFinals > div { 
    margin-top: 185px; 
}

#conn2 div { 
    margin-top: 225px; 
    height: 225px;
}

#conn2 div:first-child { 
    margin-top: 118px; 
}

#line2 div { 
    margin-top: 460px; 
}

#line2 div:first-child { 
    margin-top: 225px; 
}
#semiFinals > div { 
    margin-top: 420px; 
}
#semiFinals > div:first-child { 
    margin-top: 205px; 
}
#conn3 div { 
    margin-top: 225px; 
    height: 460px;
}

#line3 div { 
    margin-top: 460px; 
}

#final > div { 
    margin-top: 440px; 
}


table {
    float:left;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.namePoule
{
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.draggable {
    background-color: #3BA7DE;
    display: inline-block;
    margin-right: 5px;
    border-style: groove;
    border-color: black;
}

.vide
{
    background-color: #FFF;
}

.getBackTeam {
    height: fit-content;
    min-height: 30px;
    width: 100%;
    margin-bottom: 30px;
    border-style: groove;
    border-color: black;
    background-color: #DF2121;

}

button
{
    font-size: 17px;
    background: #FFF;
    color: #000;
    border-radius: 7px;
    border-color: #000;
    border-width: 1px;
    text-transform: uppercase;
}

button:hover
{
    background: #DF2121;
    color: #000;
    border-color: #000;
}
