.center
{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #159682;
    border-radius: 10px;
	margin-top: 5%;
}

.rightside
{
	margin-top: 5%;
	float: right;
	width: 40%;
	background: #159682;
	border-radius: 10px;
}

.rightside h1 
{
	text-align: center;
}

.rightside h2
{
	text-align: center;
	color: #FFF;
}

.leftside
{
	margin-top: 5%;
	float: left;
	width: 40%;
	background: #159682;
	border-radius: 10px;
}

.leftside h1 
{
	text-align: center;
}

.leftside h3
{
	text-align: center;
	color: #FFF;
}

.leftside p
{
	color: #FFF;
}

h1
{
    font-family:'Crete Round',serif;
    font-size: 45px;
    color: #FFF;
    text-shadow: 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121;  
}

table {
    float:left;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.leftside th 
{
	font-size: 18px;
	color: #000;
	text-decoration: underline;
}

.leftside td
{
	font-size: 18px;
	color: #FFF;
}

.leftside .versus 
{
	font-size: 12px;
	color: #000;
}


.namePoule
{
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

#Notstarted
{
	color: #FFF;
}

#started
{
	color: #FFF;
}

#onWait
{
	color: #FFF;
}

#done
{
	color: #FFF;
}



.buttonDiv {
    clear: both;
}

button
{
    font-size: 25px;
    background: #DF2121;
    color: #000;
    border-radius: 10px;
    border-color: #FFF;
    border-width: 3px;
    text-transform: uppercase;
}

button:hover
{
    background: #FFF;
    color: #DF2121;
    border-color: #000;
}

.invisible
{
    display: none;
}
