.center
{
    width: 750px;
    text-align: center;
    margin: 0 auto;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

h1
{
   font-size: 50px; 
}

p
{
   font-size: 20px; 
}