/* FOOTER */

.footer
{
    
}

.orange
{
    color:#DF2121;
}

footer
{
    font-family: Arial,sans-serif;
    font-size: 15px;
    bottom:0;
    position:relative;
    width:100%;
    height:140px;
    background-image:url(img/header.jpg);
}

.footer h1
{
    color: #FFF;
    font-family:'Crete Round',serif;
    text-align: center;
    padding-top: 10px;
}

.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color:#FFF;
}