.center
{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background: #159682;
    border-radius: 10px;
	margin-top: 5%;
}

h1
{
    font-family:'Crete Round',serif;
    font-size: 45px;
    color: #FFF;
    text-shadow: 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121; 
}

p
{
	font-size: 20px;
	color: #FFF;
	text-shadow: 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121, 0 0 2px #DF2121;  
}

.match
{
	font-size: 20px;
	color: #FFF;
	text-decoration: underline;
}

table {
    float:left;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.namePoule
{
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.draggable {
    background-color: #3BA7DE;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    border-style: groove;
    border-color: black;
}

.getBackTeam {
    height: fit-content;
    min-height: 30px;
    width: 100%;
    margin-bottom: 30px;
    border-style: groove;
    border-color: black;
    background-color: #DF2121;

}

.buttonDiv {
    clear: both;
}

button
{
    font-size: 15px;
    background: #DF2121;
    color: #000;
    border-radius: 10px;
    border-color: #FFF;
    border-width: 3px;
    text-transform: uppercase;
}

button:hover
{
    background: #FFF;
    color: #DF2121;
    border-color: #000;
    font-size: 18px;
}

.invisible
{
    display: none;
}

